@import url('https://fonts.googleapis.com/css2?family=Ballet&family=Lexend+Mega&display=swap');
body,
html {
  font-family: 'Ballet', cursive;
  font-family: 'Lexend Mega', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
* {
  box-sizing: border-box;
}
.item {
  position: relative;
  background-clip: padding-box;
  border: solid 5px transparent;
  border-radius: 20px;
  font-size: 40px;
  width: 100px;
  height: 150px;
  background-color: #eeeff2;
  margin: 10px;
  animation: move 3s;
  animation-fill-mode: forwards;
  box-shadow: 4px 0px 15px 0px #f30736;
  transition: transform 2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: cyan;
}
.item:nth-child(even):hover {
    cursor: pointer;
    transform: scale(1.5);
    transition-duration: 0.5s;
  }
  .item:nth-child(odd):hover {
    cursor: pointer;
    transform: rotate(360deg);
    transition-duration: 0.5s;
  }
@keyframes move {
  from {
    top: 0;
  }
  to {
    top: 40vh;
  }
}
.item:nth-child(even):before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(to right,cyan, pink);
}
.item:nth-child(odd)::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(to right,blue, red);
  color: #eeeff2;
}